/* Base Styles */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

html {
  font-size: 100%; /* 16px as base but allows for scaling */
}

body {
  background-color: #121212;
  color: white;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

h1, h2 {
  color: #E4BAC1;
  font-size: clamp(2rem, 5vw, 3.5rem); /* Responsive font size */
}

h3 {
  color: #8BC5BF;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

h4 {
  color: #ffffff;
  font-size: clamp(1.25rem, 3.5vw, 2.3rem);
}

h5 {
  color: #8BC5BF;
  font-size: clamp(2rem, 5vw, 4rem);
  line-height: normal;
}

h6 {
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-style: italic;
}

p {
  color: #ffffff;
  font-size: clamp(0.875rem, 2.5vw, 1.2rem); /* Responsive paragraph font size */
  margin-bottom: 20px;
}

.container {
  width: 85%; /* Increased fluidity */
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem; /* Adjusted padding */
}

/* Header Styles */
.site-header {
  background-color: #121212;
  padding: 1rem 0; /* Reduced padding */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Ensure wrapping on small screens */
}

.brand-name {
  font-size: clamp(2rem, 4vw, 3.5rem); /* Responsive font size */
  color: #E4BAC1;
}

.nav-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap; /* Allow nav items to wrap */
}

.nav-link {
  color: #8BC5BF;
  text-decoration: none;
  padding: 0.5rem; /* Adjusted padding */
  transition: color 0.3s;
}

.nav-link:hover {
  color: #E4BAC1;
}

/* Main Content Styles */
.intro-section, .projects-grid, .skills-grid {
  padding: 2rem 0; /* Uniform padding */
}

.intro-flex, .grid, .projects-grid, .skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Uniform gap */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  gap: 1rem; /* Spacing between grid items */
}

/* Responsive Adjustments for the .grid class specifically */
@media screen and (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr; /* Stack the grid items in one column on small screens */
  }
}

.intro-image img, .image-card img, .project-video {
  width: 100%; /* Ensure responsiveness */
  height: auto; /* Maintain aspect ratio */
  border-radius: 1%; /* Consistent border radius */
}

/* Video Responsiveness */
.video-container {
  width: 70%; /* This will scale with the rest of the content */
  margin: auto; /* Center the video container */
  position: relative;
  overflow: hidden; /* Ensures no parts of the video overflow */
  /* Instead of a fixed aspect ratio, use viewport units to maintain relative size */
  height: calc((70vw * 9) / 16); /* For a 16:9 aspect ratio */
  max-width: 1200px; /* Optional: if you want to limit the maximum size of the video */
}

.project-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: contain; /* Ensures the video's aspect ratio is preserved */
}

.video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; /* Ensure overlay stretches across the entire container width */
  background-color: rgba(0, 0, 0, 0.438); /* Semi-transparent overlay */
  color: white;
  padding: 0.5em 1em; /* Consistent padding around text */
  display: flex;
  justify-content: flex-start; /* Align text to the left */
  align-items: center; /* Vertically center the text in the overlay */
}

.video-overlay span {
  font-size: 0.8em;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

/* Adjustments for Smaller Screens */
@media screen and (max-width: 768px) {
  .intro-flex {
    flex-direction: column;
    text-align: center;
  }

  .nav-list {
    justify-content: center; /* Center nav items on small screens */
  }
}

/* Footer Styles */
.site-footer {
  background-color: #333;
  color: #8BC5BF;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow footer content to wrap */
}

.social-link {
  color: #add8e6;
  text-decoration: none;
  margin: 0.5rem;
}

.social-link:hover {
  color: #E4BAC1;
}


#github-icon,
#linkedin-icon {
  width: 40px; /* Or the size you want */
  height: auto;
  transition: filter 0.3s; /* Smooth transition for hover effect */
}
#cv-icon{
width: 35px; /* Or the size you want */
  height: auto;
  transition: filter 0.3s; /* Smooth transition for hover effect */
}

#github-icon:hover,
#cv-icon:hover,
#linkedin-icon:hover {
  filter: brightness(1.6); /* Example hover effect, change the color slightly */
}
#group-icon,
#time-icon{
    width: 20px; /* Or the size you want */
    height: 20px;
}
#syntax-icon {
  width: 20px; /* Or the size you want */
  height: 20px;
}

.back-button {
    position: absolute;
    top: 50%; /* Align vertically */
    transform: translateY(-50%); /* Center it vertically */
    left: 1rem; /* Adjust left position as needed */
    padding: 0.5rem 1rem; /* Adjust padding for better appearance */
    background-color: #E4BAC1; /* Your theme color */
    color: #121212; /* Text color */
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Adjust font size as needed */
    text-decoration: none;
    z-index: 1001; /* Above the header */
    cursor: pointer;
}

.back-button:hover {
    filter: brightness(1.1);
}
/* Additional Styles */
.section-title, .about-title, .code-header {
  font-weight: bold;
  font-size: clamp(1.25rem, 3vw, 2rem); /* Responsive font sizes */
  color: #8BC5BF; /* Consistent color */
  margin-bottom: 1rem; /* Uniform margin-bottom */
}

/* Responsive Image and Video Containers */
.image-card, .video-container, .desc-card {
  padding: 1rem; /* Adjusted padding for consistency */
  background-color: #252525;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

.skill {
  border: 2px solid #add8e6;
  color: #add8e6;
  padding: 0.5rem 1rem;
  font-size: clamp(0.75rem, 2vw, 0.9rem); /* Responsive font size */
  display: inline-block;
}

/* Responsive Adjustments for All Sections */
@media screen and (max-width: 576px) {
  .container, .header-container, .intro-flex, .nav-list, .projects-grid, .skills-grid {
    padding: 0.5rem; /* Reduced padding for tighter spaces */
    flex-direction: column;
  }

  .nav-link {
    padding: 0.5rem; /* Adjusted for smaller screens */
    text-align: center;
  }
}


.code-container {
  background-color: #252525; /* Light grey background */
  border-left: 5px solid #8BC5BF; /* Customizable colored border */
  padding: 10px; /* Spacing around the text */
  margin: 10px 0; /* Spacing around the container */
  overflow: auto; /* Handle overflowing content */
  font-family: 'Courier New', Courier, monospace; /* Font for code */
  font-size: 15px;
}


.code-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment {
  color: #228B22; /* Green color for comments */
}

/* Style the summary to look more like a clickable title */
.code-section summary {
cursor: pointer;
font-weight: bold;
margin-bottom: 10px; /* Add space below the summary */
color: #E4BAC1; /* Example color */
font-display: line;
}

/* Styling the details tag when it's open */
.code-section[open] summary {
color: #8BC5BF; /* Change color when expanded */
}

/* Optional: Add a marker (arrow) to indicate expand/collapse */
.code-section summary::marker {
color: #8BC5BF; /* Example color */
}

/* Style the code container for better readability */
.code-container {
background-color: #252525; /* Light grey background */
border-left: 5px solid #8BC5BF; /* Customizable colored border */
padding: 10px; /* Spacing around the text */
overflow: auto; /* Handle overflowing content */
font-family: 'Courier New', Courier, monospace; /* Font for code */
} 

header {
  height: 125px; /* Making the header thinner */
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #121212; /* Example color, this should be changed to match the desired header color */
  z-index: 1000; /* Ensures the header stays on top of other content */
}
